<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim | antthLuca</title>
    <link rel="shortcut icon" href="../static/images/LA-sigla.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img id="LA" src="../static/images/LA-sigla.svg">
        <span class="instrucao">
            Deslize!
            <div class="scrolldown" style="--color: white">
                <div class="chevrons">
                    <div class="chevrondown"></div>
                    <div class="chevrondown"></div>
                </div>
            </div>
        </span>
    </header>

    <main>
        <section id="boas-vindas">
            <img id="perfil" src="../static/images/perfil.png">
            <div class="text-efect">
                <div class="name">Olá, eu sou Luca Anthony!</div>
            </div>
        </section>

        <ul class="lista-mae">
            <li>
                <h3 class="topico">Sobre mim:</h3>
                <ul id="sem-espaco">
                    <li class="cont-p sem-mark">
                        <p>Tenho 18 anos e estou estudando arduamente para ser um desenvolvedor. Atualmente, estou no terceiro semestre do curso técnico de desenvolvimento de sistemas no IFPR - Campus Astoga e até o momento, estou gostando bastante de desenvolvimento para a WEB Full Stack. Assino todos os meus códigos como antthLuca!</p>
                        <p>Minha experiência se resume aos meus estudos e aos projetos pessoais, principalmente um projeto WEB que venho trabalhando desde 19/08/2023, mas prefiro deixar este para ser apresentado quando estiver finalizado! Por enquanto, digo que estou usando o framework Django, banco de dados orientado a grafos Neo4j e, de forma superficial, algumas ferramentas como: Bootstrap, Crispy Forms, jQuery e HTMX.</p>
                    </li>
                </ul>
            </li>

            <li>
                <h3 class="topico">Formação acadêmica:</h3>
                <ul>
                    <li>
                        <p class="h-cont">Instituto Federal do Paraná, Campus de Astorga - Técnico Subsequente Desenvolv. de Sistemas</p>
                        <small>FEVEREIRO DE 2023 - DEZEMBRO DE 2024</small>
                    </li>

                    <li>
                        <p class="h-cont">Adolpho Oliveira Franco, Astorga - Ensino Médio Completo</p>
                        <small>FEVEREIRO DE 2020 - DEZEMBRO DE 2022</small>
                    </li>
                </ul>
            </li>

            <li>
                <h3 class="topico">Cursos concluídos:</h3>
                <ul>
                    <li>Curso de Algoritmo e Lógica de Programação- Online, Curso em Vídeo (40 horas);</li>
                    <li>Cursos de linguagem Python 3, duas partes de três- Online, Curso em Vídeo (80 horas);</li>
                    <li>Curso de Hardware- Online, Curso em Vídeo (20 horas);</li>
                    <li>Cursos de linguagem Python 3, terceira parte- Online, Curso em Vídeo (40 horas);</li>
                    <li>Curso de Teoria Programação Orientada a Objetos- Online, Curso em Vídeo (7 horas);</li>
                    <li>Mini-curso de Python POO- Online, YouTube-canal Programador Lhama (7 horas);</li>
                    <li>Mini-curso de PyQt5-Interfaces Gráficas- Online, YouTube-canal Prof. Neto Paschoal (3 horas);</li>
                    <li>Curso de Bases Numéricas- Online, Curso em Vídeo (20 horas);</li>
                    <li>Curso de MySQL básico- Online, Curso em Vídeo (40 horas);</li>
                    <li>Curso de Java- Online, Curso em Vídeo (40 horas);</li>
                    <li>Curso de desenvolv. WEB, módulo 1- Online, Curso em Vídeo (40 horas);</li>
                    <li>Curso de Java POO- Online, Curso em Vídeo (40 horas);</li>
                    <li>Cursos de desenvolv. WEB, módulos 2 e 3- Online, Curso em Vídeo (80 horas);</li>
                    <li>Mini-curso de Django- Online, YouTube-canal Rafael Zottesso (9 horas);</li>
                    <li>Curso de JavaScript- Online, Curso em Vídeo (40 horas);</li>
                    <li>Imersão Front-End- Online, Alura (5 horas);</li>
                    <li>Curso de Redes de computadores- Online, Curso em Vídeo (20 horas);</li>
                    <li>Mini-curso de Bootstrap 5- Online, Youtube-canal Ricardo Maroquio (5.5 horas);</li>
                    <li>Curso de Marketing Digital- Online, Curso em Vídeo (40 horas);</li>
                    <li>Mini-curso de apresentação de funções básicas da Godot- Online, Youtube-canal Clécio Espindola GameDev (2.5 horas);</li>
                </ul>
                <h3>Total: 579 horas</h3>
            </li>

            <script src="https://kit.fontawesome.com/121ad6fd97.js" crossorigin="anonymous"></script>
            <li id="contato">
                <h3 class="topico">Me encontre:</h3>
                <div id="cont-links">
                    <a id="email" href="mailto:lucamafort05@gmail.com?subject=&body=" target="_blank">
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <span>Email</span>
                    </a>
                    <a id="tele" href="https://t.me/antthLuca" target="_blank">
                        <span><i class="fa-brands fa-telegram"></i></span>
                        <span>Telegram</span>
                    </a>
                    <a id="linkedin" href="http://www.linkedin.com/in/antth-Luca" target="_blank">
                        <span><i class="fa-brands fa-linkedin"></i></span>
                        <span>LinkedIn</span>
                    </a>
                    <a id="git" href="https://github.com/antth-Luca" target="_blank">
                        <span><i class="fa-brands fa-github"></i></span>
                        <span>GitHub</span>
                    </a>
                    <a id="trail" href="https://trailblazer.me/id/antth-Luca" target="_blank">
                        <span><i class="fa-brands fa-salesforce"></i></span>
                        <span>I’m trailblazer</span>
                    </a>
                    <a id="insta" href="https://instagram.com/antth.luca?igshid=ZDdkNTZiNTM=" target="_blank">
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span>Instagram</span>
                    </a>
                </div>
            </li>
        </ul>
    </main>


    <script>
        window.addEventListener('scroll', function() {
            const header = document.querySelector('header');
            const instruc = document.querySelector('.instrucao');
            const name = document.querySelector('.name');
            if (window.scrollY > 0) {
                header.style.height = '64px';
                instruc.classList.add('hidden');
                name.classList.remove('hidden');
                name.classList.add('text');
            } else {
                header.style.height = '100%';
                instruc.classList.remove('hidden');
                name.classList.add('hidden');
                name.classList.remove('text');
            }
        });
    </script>
</body>
</html>
